:root{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sprite{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}